extends layout

block content
    include includes/_header.pug
    section#blog.blog-me.pt-100.pb-100
        .container
            .row
                .col-xl-6.mx-auto.text-center
                    .section-title.mb-100
                        p Posts
                        h4 latest blog
            .row
                each obj in info
                    .col-lg-4.col-md-6
                        // Single Blog
                        .single-blog
                            .blog-img
                                img(src=`uploads/${obj.mainimage}`, alt='post_img')
                            .blog-content
                                .blog-title
                                    h4
                                        a(href='#') Title: #{obj.title}
                                    .meta
                                        ul
                                            li Date: #{obj.date}
                                p
                                    |Description: #{obj.prewiew}
                                p Author: #{obj.author}